<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="SPARQL Query testing page" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/Content/js/jquery")
    @Scripts.Render("~/Content/js/bootstrap")
    @Scripts.Render("~/Content/js/base")

    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/style")
</head>
<body>

    <div class="container">
        <div class="navbar navbar-inverse" role="navigation">

            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://bitbucket.org/slupka/dotnetr2rmlstore" target="_blank">R2RMLStore</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Query")">SPARQL Query</a></li>
                        <li><a href="@Url.Action("GraphList")">Graph list</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div>

        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
